*.swp
*.swo
*.tmp
*.tmp.txt
*.img
*.dat
*.gch
*.o
*.a
*.d
*.out
*.log
*.ln
*.session
gen-*
y.output
y.*.h
y.*.c
lex.*.c
tags
srclist.txt
tmp/
tmp
build/
.build/
proj-dep.mk
targets.mk
__pycache__
trec_eval
trec_eval2
