<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Search Demo</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="all" />
	<script type="text/javascript" src="vendor/jquery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="vendor/vue/vue.min.js"></script>
	<script type="text/javascript" src="search.js"></script>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG" type="text/javascript" charset="utf-8"></script>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [['[imath]','[/imath]']],
			displayMath: [['[dmath]','[/dmath]']]
		},

		showMathMenu: false, /* do not show menu */
		menuSettings: {CHTMLpreview: false}
	});

	/* use SVG to avoid chrome trailing space vertical line bug */
	MathJax.Hub.Register.StartupHook("End Jax",function () {
		var jax = "SVG";
		return MathJax.Hub.setRenderer(jax);
	});
	</script>
</head>
<body>
	<input type="text" placeholder=" search ..." id="search_input_box">
	<button id="search_button" type="button">Run! Query, run!</button>

	<div id="search-vue-app">
	<p v-if="ret_code != -1">Return code: {{ret_code}}, message: {{ret_str}}.</p>
	<ol>
	<li v-for="hit in hits">
		<a target="_blank" v-bind:href="hit.url">{{hit.url}}</a><br/>
		{{{ hit.snippet }}}
	</li>
	</ol>
	<p>
		<a v-bind:onclick="prev" v-if="prev != ''" href="javascript:;">prev </a>
		<span v-if="ret_code != -1">[{{cur_page}}/{{tot_pages}}]</span>
		<a v-bind:onclick="next" v-if="next != ''" href="javascript:;"> next</a>
	</p>
	</div>

</body>
</html>
