<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Search Demo</title>
<link rel="stylesheet" href="vendor/katex/katex.min.css" type="text/css"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script type="text/javascript" src="vendor/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="vendor/vue/vue.min.js"></script>
<script type="text/javascript" src="vendor/katex/katex.min.js"></script>
<script type="text/javascript" src="tex-render.js"></script>
<script type="text/javascript" src="search.js"></script>
</head>
<body>
	<input type="text" placeholder=" search ..." id="search_input_box">
	<button id="search_button" type="button">Run! Query, run!</button>

	<div id="search-vue-app">
	<p v-if="ret_code != -1">Return code: {{ret_code}}, message: {{ret_str}}.</p>
	<ol>
	<li v-for="hit in hits">
		<a target="_blank" v-bind:href="hit.url">{{hit.url}}</a><br/>
		<p class="snippet">{{{ hit.snippet }}}</p>
	</li>
	</ol>
	<p>
		<a class="page-navi" v-bind:onclick="prev" v-if="prev != ''" href="#">prev </a>
		<span v-if="ret_code != -1">[page {{cur_page}}/{{tot_pages}}]</span>
		<a class="page-navi" v-bind:onclick="next" v-if="next != ''" href="#"> next</a>
	</p>
	</div>
</body>
</html>
