ul.qry-li-wrap {
	overflow: hidden;
	margin: 0;
	padding-top: 6px;
	padding-left: 10px;
	padding-bottom: 6px;
}

li.qry-li {
	float: left;
	display: block;
	padding-right: 4px;
	margin-top: 2px;
}

div.qry-div-fix {
	background-color: #fbfefe;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 4px;

	box-shadow: 0 1px 2px black;
	border-radius: 4px;
}

#qry-input-box {
	float: left;
	outline: none;
	border: none;
	width: 400px;
}

#qry-input-area {
	box-shadow: inset 0 1px 2px #ebebeb;
}

.pl_holder {
	width: 300px;
	font-size: 14px;
	color: gray;
	padding-left: 10px;
}

span.dele {
	font-size: 14px;
	color: gray;
	padding-left: 12px;
}

span.dele:hover {
	color: red;
	cursor: pointer;
}

span.edit {
	font-size: 14px;
	color: gray;
}

span.edit:hover {
	color: red;
	cursor: pointer;
}

span.collapse {
	margin-left: 10px;
	color: #003dbf;
	font-size: 14px;
}
span.collapse:hover {
	cursor: pointer;
}

hr.vsep {
	display: block;
	border-style: inset;
	border-width: 1px;
	width: 100%;
	margin: 20px 0 20px 0;
}

button {
	color: #333;
	border-color: #8590a6;
	background-color: #fff;
	width: 128px;
	border: 1px solid #ccc;

	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
}

button:hover {
	background-color: #f8f8f8;
	border-color: #ebebeb;
}

ul.pad-li-wrap {
	list-style: none;
}

li.pad-li {
	display:inline-block;
	margin: 0px 5px 8px 0;
}

button.pad {
	padding: 5px 5px 5px 5px;
}
