ul.qry-li-wrap {
	overflow: hidden;
	margin: 0;
	padding-top: 6px;
	padding-left: 10px;
	padding-bottom: 6px;
}

li.qry-li {
	float: left;
	display: block;
	padding-right: 4px;
}

div.qry-div-fix {
	background-color: #c8f8ff;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-top: 4px;

	box-shadow: 0 1px 2px black;
	border-radius: 4px;
}

#qry-input-box {
	margin-top: 2px;
	float: left;
	outline: none;
	border: none;
	width: 400px;
}

#qry-input-area {
	box-shadow: inset 0 1px 2px black;
}

.pl_holder {
	width: 300px;
	font-size: 14px;
	color: gray;
	padding-left: 10px;
}

span.dele {
	font-size: 14px;
	color: gray;
	padding-left: 12px;
}

span.dele:hover {
	color: red;
	cursor: pointer;
}

span.edit {
	font-size: 14px;
	color: gray;
}

span.edit:hover {
	color: red;
	cursor: pointer;
}

span.collapse {
	margin-right: 10px;
	color: blue;
	font-size: 14px;
}
span.collapse:hover {
	cursor: pointer;
}

hr.vsep {
	display: block;
	border-style: inset;
	border-width: 1px;
	width: 100%;
	margin: 20px 0 20px 0;
}

#search_button {
	color: #333;
	border-color: #ccc;
	background-color: #fff;
	border: 1px solid #ccc;

	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
}

#search_button:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
}
