/**/
em.hl {
	background-color: #FFC;
}

li.hit {
	list-style-type: none;
	margin-bottom: 20px;
}

span.docid,
span.score,
span.qmask,
span.dmask,
span.expid {
	display: none;
}

span.imath-err {
	/* set important to overwrite
	 * MathJax .noError colors. */
	color: #aaa !important;
}

/* default link color */
a {
	color: #003dbf;
}

/* Pagination links */
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
	background-color: #1bc1ba;
	color: white;
	cursor: default;
	border-radius: 5px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ebebeb;}
