em.hl {
	background-color: #FF9;
}

span.qmask {
	visibility: hidden;
}

span.imath-err {
	/* set important to overwrite
	 * MathJax .noError colors. */
	color: #CC0000 !important;
	border: 1px solid #CC0000 !important;
}

a.page-navi, a.page-navi:visited{
	color: blue;
	padding-left: 10px;
	padding-right: 10px;
}
